@{
    ViewBag.Title = "Home";
}


<div class="post-wrapper">    
    @foreach (WishList_WebUI.Models.PinViewModel pin in ViewData.Model)   
    {
        <div class="post">			
			<div class="pin-holder">
				<div class="actions">
					<a class="action-button" href="#">Repin</a>
					<a class="action-button" href="#">Like</a>
					<a class="action-button" href="#">Comment</a>
				</div>
				<img src="@pin.UserPost.ThumbnailUrl" alt="@pin.UserPost.Title" />				
				<p class="pin-description">@pin.UserPost.Title</p>
				<p class="pin-info">
					<span>like</span>
					<span>repin</span>
					<span>comments</span>
				</p>
			</div>
            <div class="comments">
                @foreach (WishList_Repository.DBEntities.CommentEntity comment in pin.Comments)
                {
                    var user = pin.Users.SingleOrDefault(u => u.Id == comment.UserId);                
					<div class="comment">
						<img src="@user.UserPhoto" alt="" />
						<p>
							<a class="user-name" href="#">@user.FirstName @user.LastName</a>												
							<span>@comment.Message</span>			
						</p>
					</div>
                }
            </div>
        </div>        
    }
</div>
