<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")  
	@Scripts.Render("~/bundles/wookmark")
	@Scripts.Render("~/bundles/main")
    
</head>
<body>
    <div class="top-header top-header-grad">
        <a href="/" id="wishlist"></a>       
        <div class="right-nav">
            <ul id="right-nav-menu">
                <li class="right-nav-menu-item"><a href="#">Add</a></li>
                <li class="right-nav-menu-item arrow">About
                    <div class="right-hidden-menu">
                        <ul class="right-col-list">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Pin It Button</a></li>
                            <li><a href="#">Team</a></li>                            
                            <li><a href="#">Copyright </a></li>
                            <li><a href="#">Trademark</a></li>                            
                        </ul>
                    </div>
                </li>
				@Html.Partial("_LogOnPartial")				              
            </ul>
        </div> 
        <a id="search-button" href="#"><img src="../../Content/images/search.gif" alt="Alternate Text" /></a>  
        <input id="search-textbox" type="text" placeholder="  search">
    </div>
    <div id="bottom-header" class="bottom-header">
        <ul id="menu">
            <li class="menu-item">Following</li>
            <li class="menu-item arrow">Categories
                @Html.Partial("_ContainerCategory", WishList_Repository.Repository.CategoryRepositoryInstance.GetAll())
            </li>
            <li class="menu-item">Everything</li>
            <li class="menu-item">Popular</li>
            <li class="menu-item">Gifts</li>
        </ul>
    </div>
    <div class="body-wrapper">
        @RenderBody()
    </div>
  @*  @Scripts.Render("~/bundles/jquery") *@
    @RenderSection("scripts", required: false)
</body>
</html>
