<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
</head>
<body>
    <div class="top-header">
        <a href="/" id="wishlist"></a>
    </div>
    <div class="bottom-header">
        <ul id="menu">
            <li class="menu-item">Following</li>
            <li class="menu-item">Categories
                <div class="hidden-menu">                    
                    <div class="col">  
                        <ul class="col-list">  
                            <li><a href="#">Animals</a></li>  
                            <li><a href="#">DIY & Crafts</a></li>  
                            <li><a href="#">Gardening</a></li>  
                            <li><a href="#">History</a></li>  
                            <li><a href="#">Outdoors</a></li>  
                            <li><a href="#">Sports</a></li>  
                            <li><a href="#">Women's Fashion</a></li>                              
                        </ul>  
                    </div>  
                    <div class="col">  
                        <ul class="col-list">  
                            <li><a href="#">Architecture</a></li>  
                            <li><a href="#">Design</a></li>  
                            <li><a href="#">Geek</a></li>  
                            <li><a href="#">Home Decor</a></li>  
                            <li><a href="#">Photography</a></li>  
                            <li><a href="#">Tatoos</a></li> 
                            <li><a href="#">Videos</a></li>  
                        </ul>  
                    </div>  
                    <div class="col">  
                        <ul class="col-list">  
                            <li><a href="#">Art</a></li>  
                            <li><a href="#">Education</a></li>  
                            <li><a href="#">Health & Fitness</a></li>  
                            <li><a href="#">Illustration</a></li>  
                            <li><a href="#">Illustration & Posters</a></li>  
                            <li><a href="#">Products</a></li>  
                            <li><a href="#">Technology</a></li>                              
                        </ul>  
                    </div>  
                    <div class="col">  
                        <ul class="col-list">  
                            <li><a href="#">Cars & Motocycles</a></li>  
                            <li><a href="#">Film, Music & Books</a></li>  
                            <li><a href="#">Hear & Beauty</a></li>  
                            <li><a href="#">Kids</a></li>  
                            <li><a href="#">Quotes</a></li>  
                            <li><a href="#">Travel</a></li>                                                       
                        </ul>  
                    </div>  
                    <div class="col">  
                        <ul class="col-list">  
                            <li><a href="#">Celebrities</a></li>  
                            <li><a href="#">Food & Drink</a></li>  
                            <li><a href="#">Holidays & Events</a></li>  
                            <li><a href="#">Men's Fashions</a></li>  
                            <li><a href="#">Scince & Nature</a></li>  
                            <li><a href="#">Weddings</a></li>                                                           
                        </ul>  
                    </div> 
                </div>
            </li>
            <li class="menu-item">Everything</li>
            <li class="menu-item">Popular</li>
            <li class="menu-item">Gifts</li>
        </ul>
    </div>
    
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
